@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: #0f1525;
  color: #FFD400; /* Yellow */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

/* Editor Page Styles */
#editor-page-container {
  height: 100vh;
  width: 100%;
  background-color: #0f1525; /* Dark blue */
  display: flex;
  justify-content: center;
  align-items: center;
}

#description-pane {
  width: 50%;
  height: 80%;
  padding: 20px;
  background-color: #0f1525; /* Dark purple */
  border: 2px solid #3c3d51;
}

#code-description {
  height: 40%;
  color: #f4f4f4;
}

#test-case-choose {
  height: 10%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.test-case-button {
  margin: 1px 15px;
  padding: 4px;
  background-color: #3c3d51;
  border-radius: 5px;
  color: #f4f4f4; /* Dark blue */
  font-family: 'Press Start 2P', cursive;
  border: none;
  cursor: pointer;
}

.test-case-button:hover {
  color: #030617;
  background-color: #f4f4f4 ;
}

#test-case {
  height: 30%;
  background-color: #0f1525;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #3c3d51;
  padding: 10px;
}

#test-case-input-description, #test-case-output-description, #test-case-stdout {
  margin: 15px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #FFD400; /* Yellow */
  font-family: 'Courier New', Courier, monospace;
  background-color: #0f1525; /* Dark blue */
  width: 600px;
  border: 1px solid #3c3d51;
}

#editor-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

#output-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  background-color: #030617;
}

.output-status {
  padding: 8px 20px;
  margin: 5px 10px;
  background-color: aquamarine;
  border-radius: 5px;
}

/* temp */
h3 {
  margin: 0;
  padding: 0;
  display: inline;
}