/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Press Start 2P', cursive; */
  font-family: "Big Shoulders Inline", sans-serif;
  background-color: #0f1525;
  color: #FFD400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

/* Editor Page Styles */

/* power ups */
.flip {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent */
  z-index: 9999;
}

.popup{
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-box{
  position: relative;
  height: 400px;
  width: 600px;
  background-color: white;
  color:red;
}

.popup-box button{
  position: absolute;
  top:4px;
  right: 4px;
}

.foggy {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  filter: blur(2px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}


/* power ups */
.flip {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent */
  z-index: 9999;
}

.popup{
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-box{
  position: relative;
  height: 400px;
  width: 600px;
  background-color: white;
  color:red;
}

.popup-box button{
  position: absolute;
  top:4px;
  right: 4px;
}

.foggy {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  filter: blur(2px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}