body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Editor Page Styles */
#editor-page-container {
  height: 100vh;
  width: 100%;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

#description-pane {
  width: 50%;
  height: 80%;
  padding: 20px;
  background-color: aqua;
}

#code-description {
  height: 40%;
}

#test-case-choose {
  height: 10%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.test-case-button {
  margin: 1px 15px;
  padding: 4px;
  background-color: azure;
  border-radius: 5px;
}

#test-case {
  height: 30%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#test-case-input-description, #test-case-output-description, #test-case-stdout {
  margin: 15px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-family: monospace;
  background-color: grey;
  width: 600px;
}

#editor-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

#output-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  background-color: yellow;
}

.output-status {
  padding: 8px 20px;
  margin: 5px 10px;
  background-color: aquamarine;
  border-radius: 5px;
}

/* temp */
h3 {
  margin: 0;
  padding: 0;
  display: inline;
}


/* power ups */
.flip {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent */
  z-index: 9999;
}

.popup{
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-box{
  position: relative;
  height: 400px;
  width: 600px;
  background-color: white;
  color:red;
}

.popup-box button{
  position: absolute;
  top:4px;
  right: 4px;
}

.foggy {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  filter: blur(2px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}